
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}


    .topnav {
        overflow: hidden;
        background-color: #fff;
        padding: 0% 7.29%;
      }
      
      .topnav a {
        list-style-type: none;
        float: right;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Create a right-aligned (split) link inside the navigation bar */
      .topnav a.split {
        font-size: 36px;
        font-weight: 1000;
        float: left;
        color: #000;
      }

      main{
        text-align: center;
        margin: 200px auto;
        max-width: 900px;
      }

      .intro{
        font-size: 40px;
        font-weight: 500;
      }

      .title{
        font-size: 60px;
        padding-top: 20px;
        font-weight: 900;
      }

      .about{
        font-size: 26px;
        padding-top: 25px;
        font-weight: 400;
        padding-bottom: 50px;
      }

      .me{
        text-align: center;
        padding: 20px 60px;
        background-color: #000;
        color: #fff;
        border-radius: 7px;
        vertical-align: baseline;
      }

      footer{
        border-top: solid 3px #000;
        text-align: center;
        padding-top: 3%;
      }

      .texter{
        text-align: center;
      }